<div class="div01">
  <div class="ConferenceT">
    <span class="T-back">
    </span>专家简介
  </div>
  <% @experts.each do |expert| %>
    <%= link_to expert_path(expert) do %>
      <div class="ExpertA">
        <div class="ExpertB">
          <%= image_tag expert.face %>
        </div>
        <div class="ExpertD">
          <div class="ExpertE">
            <%= expert.name %> <!-- <span>（<%= expert.title %>）</span> -->
          </div>
          <div class="ExpertF"><%= expert.intro %></div>
        </div>
        <div class="ExpertG">
          <!-- <a href="#"><img src="images/login09.png" /></a> -->
          <%= image_tag 'login09.png' %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>