<div class="IndexA">
  <!-- <img style=" width:100%;" src="images/salutatoryBG.png" /> -->
  <%= image_tag 'salutatoryBG.png', class: 'bg-img' %>
  <div class="IndexB">
    <ul>
      <li>
        <%= link_to page_path('welcome') do %>
        <%= image_tag 'login04.png' %>
        <% end %>
      </li>
      <li>
        <%= link_to experts_path do %>
        <%= image_tag 'login05.png' %>
        <% end %>
      </li>
      <li>
        <%= link_to page_path('agenda') do %>
        <%= image_tag 'login06.png' %>
        <% end %>
      </li>
      <li>
        <%= link_to record_new_path do %>
        <%= image_tag 'login07.png' %>
        <% end %>
      </li>
    </ul>
  </div>
</div>